<div class="character-edit">
  <h1>La découverte</h1>

  <!-- Progress bar -->
  <div class="progress-bar">
    <div class="progress" style="width: <%= (@character.completion_rate.to_f / 9 * 100).round %>%;"></div>
  </div>
  <p>Progression: <%= (@character.completion_rate.to_f / 9 * 100).round %> %</p>

  <%= simple_form_for @character do |f| %>
    <% case @character.completion_rate %>
    <% when 1 %>
      <%= f.input :race_id, collection: @character.universe.races, as: :radio_buttons, label: 'Choisissez une race' %>
    <% when 2 %>
      <%= f.input :univers_class_id, collection: @character.universe.univers_classes, as: :radio_buttons, label: 'Choisissez une classe' %>
    <% when 3 %>
      <%= f.input :strength, as: :select, collection: (10..18).to_a, label: 'Force' %>
    <% when 4 %>
      <%= f.input :dexterity, as: :select, collection: (10..18).to_a, label: 'Dextérité' %>
    <% when 5 %>
      <%= f.input :intelligence, as: :select, collection: (10..18).to_a, label: 'Intelligence' %>
    <% when 6 %>
      <%= f.input :constitution, as: :select, collection: (10..18).to_a, label: 'Constitution' %>
    <% when 7 %>
      <%= f.input :wisdom, as: :select, collection: (10..18).to_a, label: 'Sagesse' %>
    <% when 8 %>
      <%= f.input :charisma, as: :select, collection: (10..18).to_a, label: 'Charisme' %>
    <% end %>

    <%= f.submit 'Continuer', class: 'button' %>
  <% end %>
</div>
