<div class="text-affichage-show-character-div">
  <h3 class="text-affichage-show-character">Félicitation ! Vous venez de créer votre personnage !
  Vous pouvez maintenant lancer une recherche de partie avec votre nouveau personnage ou décider de le garder pour plus tard. Retrouvez votre personnage dans votre Tableau De Bord.</h3>
</div>

<div class="show-character-container">
    <div class="show-character-img-content">
        <div class="show-character-image-div">
            <%= cl_image_tag @character.univers_class.photo.key, alt: @character.univers_class.name, class: 'show-character-image', size: "200x200" %>
        </div>

        <div class="show-character-content">
            <div class="show-character-name-div">
                <h1 class="show-character-name"><%= @character.name %></h1>
            </div>
            <div class="show-character-univers-race-class-available">
                <div class="show-character-univers-race-class-available-display">
                    <p>Univers</p>
                    <p>Race</p>
                    <p>Classe</p>
                </div>
                <div class="show-character-univers-race-class-available-content">
                    <p><%= @character.universe.name %></p>
                    <p><%= @character.race.name %></p>
                    <p><%= @character.univers_class.name %></p>
                </div>
            </div>
        </div>
    </div>
    <div class="show-character-caracteristic">
        <div class="show-character-caracteristic-display">
            <p>Force</p>
            <p>Dextérité</p>
            <p>Intelligence</p>
            <p>Constitution</p>
            <p>Sagesse</p>
            <p>Charisme</p>
        </div>
        <div class="show-character-caracteristic-content">
            <p><%= @character.strength %></p>
            <p><%= @character.dexterity %></p>
            <p><%= @character.intelligence %></p>
            <p><%= @character.constitution %></p>
            <p><%= @character.wisdom %></p>
            <p><%= @character.charisma %></p>
        </div>
    </div>
</div>
<div class="btn-show-container">
    <%= link_to 'Découvrir le lexique', posts_path, class: 'btn btn-secondary' %>
    <% if active_party = @character.parties.where('party_characters.status = ?', 'active').first %>
        <%= link_to 'Rejoindre ma partie', party_path(active_party), class: 'btn btn-primary' %>
    <% else %>
        <%= link_to 'Rejoindre ma partie', parties_path, class: 'btn btn-primary' %>
    <% end %>
</div>

