<div class="character-show">
  <h1><%= @character.name %></h1>
  
  <div class="character-overview">
    <div class="character-image">
      <%= image_tag @character.univers_class.photo, alt: @character.univers_class.name, size: "200x200" %>
    </div>
    
    <div class="character-details">
      <h2><%= @character.univers_class.name %></h2>
      <p><%= @character.univers_class.description %></p>
    </div>
  </div>

  <div class="character-stats">
    <h3>Statistiques</h3>
    <ul>
      <li><strong>Race:</strong> <%= @character.race.name %></li>
      <li><strong>Force:</strong> <%= @character.strength %></li>
      <li><strong>Dextérité:</strong> <%= @character.dexterity %></li>
      <li><strong>Intelligence:</strong> <%= @character.intelligence %></li>
      <li><strong>Constitution:</strong> <%= @character.constitution %></li>
      <li><strong>Sagesse:</strong> <%= @character.wisdom %></li>
      <li><strong>Charisme:</strong> <%= @character.charisma %></li>
    </ul>
  </div>
  
  <div class="character-backstory">
    <h3>Son histoire</h3>
    <p><%= @character.backstory %></p>
  </div>
</div>
