<h1><%= @universe.name %></h1>
<p><%= @universe.description %></p>

<% if @tutorial %>
  <div class="tutorial">
    <h2><%= @tutorial.title %></h2>
    <p><%= @tutorial.content %></p>
    <% if @tutorial.video_url.present? %>
      <div class="video">
        <iframe width="560" height="315" src="<%= @tutorial.video_url %>" frameborder="0" allowfullscreen></iframe>
      </div>
    <% end %>
  </div>
<% else %>
  <p>Aucun tutoriel disponible pour cet univers.</p>
<% end %>

<div class="button-container">
    <%= link_to 'Choisir un autre univers', universes_path, class: 'btn btn-secondary' %>
    <%= link_to 'Continuer dans cet univers', characters_path(character: { universe_id: @universe.id }), method: :post, class: 'button' %>
</div>
