<h1><%= @universe.name %></h1>
<p><%= @universe.description %></p>

<% if @tutorial %>
  <div class="tutorial">
    <h2><%= @tutorial.title %></h2>
    <p><%= @tutorial.content %></p>
    <% if @tutorial.video_url.present? %>
      <div class="video">
        <iframe width="560" height="315" src="<%= @tutorial.video_url %>" frameborder="0" allowfullscreen></iframe>
      </div>
    <% end %>
  </div>
<% else %>
  <p>Aucun tutoriel disponible pour cet univers.</p>
<% end %>

<div class="button-container">
    <%= link_to 'Choisir un autre univers', universes_path, class: 'btn btn-secondary' %>
    <%= form_with url: characters_path, method: :post do |form| %>
        <%= hidden_field_tag :universe_id, @universe.id %>
        <%= submit_tag 'Continuer dans cet univers', class: 'button' %>
    <% end %>

</div>
